.counter-container {
    display: flex;
    justify-content: center;
    width: 90%;
}

.counter-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    background-color: var(--primary-color);;
}

.secondary-box {
    background-color: var(--secondary-color);;
}

.tertiary-box {
    background-color: transparent;
}

.counter-value {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-color);;
}

.sub-title {
    font-size: 1.6vw;    
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-color);;
    text-align: center;
}

.secondary-text {
    color: var(--primary-color);;
}

.counter-divider {
    width: 20%;
    height: 1px;          /* Sets the height of the line */
    background-color: var(--secondary-color);; /* Sets the color of the line */
    border-color: var(--secondary-color);;
    margin: 6px 0;      /* Adds some space above and below the line */
}

.secondary {
    border-color: var(--primary-color);;
    background-color: var(--primary-color);;
}


/* Media query for mobile devices */

@media (max-width: 600px) {
    .counter-box {
        flex-basis: 100%; /* On small screens, take the full width */
    }
    .sub-title {
        font-size: 4vw;    
    }
}