.home-page-container {
    text-align: left;
    padding: 6rem 8rem;
    display: flex;
    flex-direction: column;
}

.home-page-container.mobile-view {
    padding: 1rem 3rem;
}

.sub-header {
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
}

.main-header {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
}

.scroll-action-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    .button-container {
        background-color: rgba(71, 71, 71, 0.458);
        border-radius: 100rem;
    }

    p { 
        color: white;
        
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
}