.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.section-header {
  color: var(--modern-primary-color);
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding: 12px;
  margin: 0px;
}

.section-header.dark {
  color: white;
}

.section-desc {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding: 2rem 3rem;
}

.section-desc.dark {
  color: white;
}

.section-divider {
  width: 80%;
  height: 2px; /* Sets the height of the line */
  background-color: black; /* Sets the color of the line */
  margin: 30px 0; /* Adds some space above and below the line */
}

.section-divider.dark {
  background-color: white;
}
